{{experiment.name}}
=================
mainfile: {{ experiment.mainfile }}
started: {{ experiment.start_time|datetime }}
ended:   {{ experiment.stop_time |datetime }}
seed: {{ experiment.seed }}

{{ experiment.doc }}

Options
-------
{% for opt in experiment.options %}
* {{ opt }}
{% endfor %}

Main Result
-----------
{{ experiment.result }}

Stage Summaries
-------------
{% for stage in experiment.called recursive %}
    {{ stage.name }}
    **************************
    started: {{ stage.start_time|datetime }}
    ended:   {{ stage.stop_time |datetime }}
    args:    {{ stage.arguments }}

    result:  {{ stage.result }}
    results from logs: {{ stage.result_logs }}
    {% if stage.called %}
        {{ loop(stage.called) }}
    {% endif %}

{% endfor %}

