{{experiment.name}}
=================
{{ experiment.doc.strip() }}

:mainfile: {{ experiment.mainfile }}
:started: {{ experiment.start_time|datetime }}
:ended:   {{ experiment.stop_time |datetime }}
:seed: {{ experiment.seed }}

Options
-------{% for opt in experiment.options %}
:{{ opt }}: {{ experiment.options[opt] }}{% endfor %}

Stage Summaries
----------------
{% for stage in experiment.called recursive %}
{{ stage.name }}
**************************
:started: {{ stage.start_time|datetime }}
:ended:   {{ stage.stop_time |datetime }}
:args:    {{ stage.arguments }}
{% if stage.called %}
{{ loop(stage.called) }}
{% endif %}

{% endfor %}

